﻿@page
@model IndexModel

<div id="page-wrapper">
    <div class="row bg-light">
        <div class="inline-headers col-lg-12">
            <h1 class="page-header">
                Quizzes<br />
                <small>Here you can select a quiz to take</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="inline-headers col-md-12">
                            <span class="h3 pull-left">Quiz List</span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="panel-body">
                    <div class="list-group col-md-12 borderless">
                        @if (Model.Items.Count() == 0)
                        {
                            <h3 class="text-center">
                                Quiz list is empty.
                            </h3>
                            <div class="clearfix"></div>
                        }
                        @foreach (var item in Model.Items)
                        {
                            <div class="list-group-item p-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a asp-page="Quiz" asp-route-quizId="@item.Id" asp-route-quizState="@item.Status" class="pull-left">
                                            <span class="h4 float-left">
                                                @item.Title
                                            </span>
                                            <span class="h4 float-right">@item.StatusDescription</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="panel-footer">
                    <small>Clicking on a completed quiz will reset the quiz</small>
                </div>
            </div>
        </div>
    </div>
</div>
