﻿@page
@model QuizModel 
@*QuizApplication.RazorPages.Pages*@

<div id="page-wrapper">    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Question</h3>
                    <h4>@Model.Question.QuestionText</h4>
                </div>
                <br />
                <div class="panel-body">
                    <form asp-page="Quiz" method="post" name="sentMessage" id="contactForm">
                        <input type="hidden" asp-for="@Model.Question.Id" />
                        <input type="hidden" asp-for="@Model.Question.QuizId" />
                        <input type="hidden" asp-for="@Model.Question.QuestionText" />
                        <input type="hidden" asp-for="@Model.QuestionIndex" value="@Model.QuestionIndex" />
                        @for (var i = 0; i < Model.Options.Count(); i++)
                        {
                            <input type="hidden" value="@Model.Options[i].Id" name="@($"Options[{i}].Id")" id="@($"Options[{i}].Id")" />
                            <input type="hidden" value="@Model.Options[i].QuestionId" name=@($"Options[{i}].QuestionId") id="@($"Options[{i}].QuestionId")" />
                            <input type="hidden" value="@Model.Options[i].Answer" name=@($"Options[{i}].Answer") id="@($"Options[{i}].Answer")" />
                            <div class="container">
                                <div class="row">
                                    <div class="col-1">
                                        <input type="checkbox" value="true" asp-for="@Model.Options[i].Selected" name=@($"Options[{i}].Selected") id="@($"Options[{i}].Selected")" />
                                    </div>
                                    <div class="col-11">
                                        <label>@Model.Options[i].Answer</label>
                                    </div>                                    
                                </div>
                            </div>
                            @*<div class="col-md-1 mr-2">
                                
                            </div>
                            <div class="col-md-11">
                                
                            </div>*@
                        }
                        <button class="float-right btn btn-primary" type="submit" title="Submit">Submit</button>
                    </form>
                </div>
                <div class="panel-footer">
                    <span class="clearfix"></span>
                </div>
            </div>
        </div>
    </div>
</div>


